.masthead {
	margin-left: 60px;
	margin-top: 80px;
	margin-bottom: 40px !important;
	transition: 0.3s ease-in-out;
}

@media(max-width: 700px) {
	.masthead {
		margin-left: 0px;
		margin-top: 80px;
		margin-bottom: 50px !important;
		transition: 0.3s ease-in-out;
	}	
}

.title {
	font-family: "Raleway", sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
}

.h7 {
	font-size: 12px !important;
	padding: 5px !important;
}

.card {
	animation: wuss 0.8s ease-in-out;
}

@keyframes wuss {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}

.font-xs {
	font-size: 7px !important;
}

.font-md {
	font-size: 10px !important;
}

.card-title {
	font-family: "Lato", sans-serif;
}

.progress {
	border-radius: 50px !important;
}

.progress-bar {
	border-radius: 50px !important;
}

.roboto {
	font-family: "Roboto", sans-serif !important;
}

.roboto-sm {
	font-family: "Roboto", sans-serif !important;
	font-size: 10px !important;
}

.roboto-md {
	font-family: "Roboto", sans-serif !important;
	font-size: 15px !important;
}

.roboto-md-md {
	font-family: "Roboto", sans-serif !important;
	font-size: 20px !important;
}

.raleway {
	font-family: "Raleway", sans-serif !important;
}

.lato {
	font-family: "Lato", sans-serif !important;
}

.btn {
	transition: 0.3s !important;
	-webkit-transition: 0.3s !important;
	-moz-transition: 0.3s !important;
	-o-transition: 0.3s !important;
}

.btn-member {
	padding: 3px 5px;
	font-size: 10px !important;
	text-align: center;
	border-radius: 3px !important;
	transition: 0.3s !important;
	-webkit-transition: 0.3s !important;
	-moz-transition: 0.3s !important;
	-o-transition: 0.3s !important;
}

.rounded-lg {
	border-radius: 10px !important;
}

.btn-primary-smooth {
	background-color: #E7F3FF;
	color: #007BFF;
}

.btn-primary-smooth:hover {
	box-shadow: 0px 5px 10px 0px rgba(8,8,8,0.3) !important;
}

.btn-warning-smooth {
	background-color: #FFF7CF;
	color: #F3C200;
}

.btn-warning-smooth:hover {
	box-shadow: 0px 5px 10px 0px rgba(8,8,8,0.3) !important;
}

.btn-danger-smooth {
	background-color: #FFEAEC;
	color: #FF3649;
}

.btn-danger-smooth:hover {
	box-shadow: 0px 5px 10px 0px rgba(8,8,8,0.3) !important;
}

.btn-lavender-smooth {
	background-color: #F1EDF9;
	color: #7C4DC4;
}

.btn-lavender-smooth:hover {
	box-shadow: 0px 5px 10px 0px rgba(8,8,8,0.3) !important;
}

.btn-light-smooth {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
}

.btn-light-smooth:hover {
	box-shadow: 0px 5px 10px 0px rgba(8,8,8,0.3) !important;
}

.btn-light-mat {
	background-color: #FFFFFF;
	color: #1E1E1E;
}

.btn-light-mat:hover {
	box-shadow: 0px 5px 10px 0px rgba(8,8,8,0.3) !important;
}

.btn-outline-primary-smooth {
	border: 1px solid #3899FF !important;
	background-color: transparent;
	color: #3899FF;
}

.btn-outline-primary-smooth:hover {
	box-shadow: 0px 5px 10px 0px rgba(102,102,102,0.3) !important;
}

.bg-primary-smooth {
	background-color: #3899FF !important;
}

.bg-gray {
	background-color: #E9ECEF;
}

h5 {
	line-height: 30px !important;
}

.text-sm {
	font-size: 10px !important;
}

.hover-shadow {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0px 0px 20px 0px rgba(140,170,180,0.2) !important;
}

.shadow-md {
	box-shadow: 0px 0px 10px 0px rgba(140,170,180,0.1) !important;
}

.p-1-set {
	padding: 5px !important;
}

.scroll-new {
	display: flex !important;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.content--scroll {
	width: 300px !important;
	margin-right: 2em;
	flex: 0 0 auto;
	margin-bottom: 40px !important;
}

.body .content--scroll::-webkit-scrollbar {
	width: 40px;
	border-radius: 5px !important;
}

.body .content--scroll::-webkit-scrollbar-track {
	background: transparent !important;
	border-radius: 5px !important;
}

.body .content--scroll::-webkit-scrollbar-thumb {
	background: #E1E1E1 !important;
	border-radius: 5px !important;
}

.body {
	width: 100%;
	height: 100%;
	  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width: 700px) {
	.heading {
		flex-direction: column !important;
		align-items: center;
	}
}