@media(min-width: 700px) {
	.rightsession {
		background-color: #FFFFFF;
		height: 100% !important;
		overflow-x: hidden;
		position: fixed;
		overflow-y: hidden;
		display: all;
		transition: 0.3 ease-in-out;
		-webkit-transition: 0.3 ease-in-out;
		-moz-transition: 0.3 ease-in-out;
		-o-transition: 0.3 ease-in-out;
	}
}

@media(max-width: 700px) {
	.rightsession {
		background-color: #FFFFFF;
		width: 100% !important;
		position: relative !important;
		display: block;
		padding-bottom: 10px !important;
	}

	.calendar {
		text-align: center !important;
	}

	.accounts-tab {
		text-align: center !important;
		margin: 0 auto;
	}
}

.bg-yellow {
	background-color: #FFD012;
}

.text-disable {
	opacity: 0.9;
}

.dot {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	display: inline-block;
}

.dot-primary {
	background-color: #3899FF !important;
}

.dot-danger {
	background-color: #FF3841 !important;
}

.letter-spacing {
	letter-spacing: .8px;
}